{{define "base"}}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{.Title}}</title>
    <link rel="preload" as="font" href="https://assets.adoublef.dev/4/poppins.ttf" type="font/ttf" crossorigin />
    <link rel="preload" as="font" href="https://assets.adoublef.dev/7/poppins.ttf" type="font/ttf" crossorigin />
    <link rel="stylesheet" href="https://assets.adoublef.dev/index.css">
    <link rel="preload" as="script" href="https://assets.adoublef.dev/htmx.min.js" />
    <script src="https://assets.adoublef.dev/htmx.min.js" defer></script>
    <link rel="preload" as="script" href="https://assets.adoublef.dev/hyperscript.min.js" />
    <script src="https://assets.adoublef.dev/hyperscript.min.js" defer></script>
</head>

<body hx-boost="true">
    <header>
        <nav>
            <ul>
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/about">About</a>
                </li>
            </ul>
        </nav>
    </header>
    <main>{{template "main" .}}</main>
    <footer>
        <small>powered by Golang</small>
    </footer>
</body>

</html>
{{end}}