{{define "base"}}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{.Title}}</title>
    <link rel="preload" as="font" href="https://assets.adoublef.dev/fonts/v/space_grotesk.woff2" type="font/woff2"
        crossorigin />
    <link rel="preload" as="font" href="https://assets.adoublef.dev/fonts/v/lexend.woff2" type="font/woff2"
        crossorigin />
    <link rel="preload" as="script" href="https://assets.adoublef.dev/scripts/htmx.min.js" />
    <link rel="preload" as="script" href="https://assets.adoublef.dev/scripts/hyperscript.min.js" />
    <link rel="stylesheet" href="https://assets.adoublef.dev/stylesheets/index.css">
    <script src="https://assets.adoublef.dev/scripts/htmx.min.js" defer></script>
    <script src="https://assets.adoublef.dev/scripts/hyperscript.min.js" defer></script>
</head>

<body hx-boost="true">
    <header>
        <nav>
            <ul>
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/about">About</a>
                </li>
            </ul>
        </nav>
    </header>
    <main>{{template "main" .}}</main>
    <footer>
        <small hx-boost="false">
            Powered by <a href="https://go.dev">Golang</a>.
            Source code on <a href="https://github.com/adoublef/ember-allspice">GitHub</a>
        </small>
    </footer>
</body>

</html>
{{end}}